.seleccionada {
	border-color: brown;
	border-style: solid;
	border-width: 10px;
}

td {
	padding: 10px;
}

table img {
	display: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(86, 139, 43);
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 20px;
	border-color: brown;
	border-style: solid;
	border-width: 10px;
	border-radius: 10px;
}